body {
    background-image: url("/assets/background-playlist.jpg");
    background-size: cover;
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
}

.header {
    padding: 5px 30px;
    font-size: 1.5rem;
    text-align: center;
    min-height: 50px;
    color:  brown;
    text-shadow: whitesmoke 5px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addBtn {
    font-weight: 400;
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 4rem;
    background-color: brown;
    border: none;
    padding: 20px;
    color: white;
    border-radius: 6px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlistContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2px;
    width: 45rem;
}

.songContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 35rem;
    border: 2px solid brown;
    border-radius: 15px;
    margin: auto;
    padding: 30px;
}

.textContainer{
    display: flex;
    gap: 30px;
    margin-top: 0;
}

.btnContainer{
    display: flex;
    gap: 5px;
    height: 80px;
}

.infoContainer{
    display: flex;
    gap: 10px;
    font-weight: bolder;
    margin: 0px;
}

.artist {
    font-weight: normal;
}

.genre {
    font-weight: lighter;
}

.updateBtn {
    font-weight: 400;
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 4rem;
    background-color: rgb(88, 195, 88);
    border: none;
    padding: 20px;
    color: white;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delBtn {
    font-weight: 400;
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 4rem;
    background-color: rgb(224, 88, 88);
    border: none;
    padding: 20px;
    color: white;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBtn {
    font-weight: 400;
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 4rem;
    background-color: rgb(133, 64, 64);
    border: none;
    padding: 20px;
    color: white;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updateForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputTitle {
    text-align: center;
    height: 1.5rem;
    padding: 5px;
    border: 1px solid brown;
    border-radius: 15px;
}
.inputArtist {
    text-align: center;
    height: 1.5rem;
    padding: 5px;
    border: 1px solid brown;
    border-radius: 15px;
}
.inputGenre {
    text-align: center;
    height: 1.5rem;
    padding: 5px;
    border: 1px solid brown;
    border-radius: 15px;
}